
$base-font: 'Arial', sans-serif !default;
$bold-font: $base-font;
$thin-font: $base-font;
$light-font: $base-font;
$medium-font: $base-font;

$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

$base-font-size: 14px;

$h1-font-size: 3em;
$h2-font-size: 2.6em;
$h3-font-size: 2.2em;
$h4-font-size: 2em; 
$h5-font-size: 1.83em;
$h6-font-size: 1.5em;

$body-bg-color: #FFF;
$base-font-color: #000;
$selection-bg-color: #02C39A; 	
$selection-text-color: #FFFF; 
$link-color: blue; 
$link-hover-color: #000;
 
$base-url: '/assets/' !default;

$font-weight: 'bold';