
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {

	body { font-size: 12px; }

	.logo {  margin-bottom: 1em; } 

	.call-no,
	.main-menu {
		display: none;
	}

	.nav-icon {
		display: block;
		top: 10px;
	}

	.main-menu {
		width: 100%;
		position: absolute;
		top: 115px;
		left: 0;
		z-index: 10;

		a {
			display: block;
			line-height: 40px;
		    border-bottom: 1px solid #ddd;
		    width: 100%;
		}
	} 



}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

	.main-menu {
		display: none;
	}

	.nav-icon {
		display: block;
		margin-top: 20px;
	    margin-right: 20px;
	}


}

/* Medium devices (tablets, 768px and 992px) */
@media (min-width: 768px) and (max-width: 992px) {


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

	.main-menu { 
		display: block; 

		a {
			padding: 0 16px;
		}
	}
	.nav-icon { display: none; }
 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}